<center>
            <img src="/img/onay.jpg" width="100" class="mb-4">
            <span><h3>Bot kurulumu başarıyla tamamlandı!</h3> </span>
            <style>
                span {
                    color: white;
                }
            </style>
            <span>Sunucu üzerinden komut kullanımıyla diğer kurulumlarınızı tamamlayabilirsiniz.</span>
            </br>
            </br>
            <span>Örnek Komut (<i style="font-size: 11px;">Sadece sunucu sahibi kullanabilir</i>):</span> <img style="border-radius: 10px; height: 50px" src="/img/setup.png"><img>
</br>
<a href="/" class="messagebutton">Geri Dön! <i class="fa fa-arrow-rotate-left"></i></a></center>

